body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;*/
  font-family: 'Slabo 27px', serif;
}

.navbar {
  margin-bottom: 0;
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;
}

.navbar-collapse h4 {
  color: #818a91;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: #818a91;
}
.social a:hover {
  color: #fff;
}

.jumbotron {
  /*padding-top: 6rem;*/
  /*padding-bottom: 6rem;*/
  margin-bottom: 0;
  background-color: #fff;
  /*background: url("screenshot-1025vintage.com-2016-11-08-13-44-15.png");*/
  /*background-repeat:no-repeat;*/
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}
.card-deck {
  display: flex;
  /*justify-content: flex-start;*/
  flex-flow: row wrap; 
  /*align-items: stretch;*/
}

.card-deck .card {
  display: block;
  flex-basis: 45%; /* change this value for each breakpoint*/
  padding: 0.75rem;
  margin: 2%;
}

.list-group-item {
    
  padding: 0.5rem ; 
    
}

.card-text {
  font-size: 85%;
}

.card-block {
    padding: 0.5rem;

}

.card-title {
  margin-bottom: 0rem;
  font-weight: 300;
}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
